<h1>Authors!</h1>



<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Biography</th>
      <th>Actions</th>
    </tr>
  </thead>
  
  <tbody>
    <% @authors.each do |author| %>
    <tr>
      <td><%= "#{author.first_name} #{author.last_name} "%></td>
      <td><%= author.biography %></td>
      <td><%= link_to 'Show', author_path(author) %>
      <td><%= link_to 'Edit', edit_author_path(author) %></td>
      <td><%= link_to 'Delete', author_path(author), method: :delete, data: { confirm: "Are you sure?"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'New Author', new_author_path %> |
<%= link_to 'Articles', articles_path %></p>
